 .codeeditor {
    overflow: hidden;
    width: 700px;
    height: 500px;

    background-color: var(--editor-bg);
    color: var(--editor-text);

    border-radius: 20px;

    box-shadow: 0 20px 50px var(--editor-shadow);

    transition: all 0.3s ease;
}

.codeeditor-head {
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;

    border-bottom: 1px solid var(--editor-border);
}

.languages {
    display: flex;
    gap: 15px;
}

.languages button {
    color: var(--editor-muted);
    padding: 10px 16px;
    cursor: pointer;
}

/* .languages button:hover {
    color: var(--primary-color);
} */

.codeeditor-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 380px;
}

.code-area {
    padding: 18px 15px;

    border-right: 1px solid var(--editor-border);

    overflow: hidden;
}

.line {
    display: flex;
    gap: 20px;

    font-family: 'Fira Code', monospace;
    font-size: 14px;
    line-height: 28px;
}

.line span {
    width: 20px;

    color: var(--line-number-color);

    text-align: right;
}

.line code {
    color: var(--code-color);
}

.io-area {
    background: var(--io-bg);
}

.io-names {
    display: flex;
    gap: 25px;

    padding: 18px;

    border-bottom: 1px solid var(--editor-border);
}

.io-names span {
    position: relative;

    color: var(--editor-muted);

    cursor: pointer;
}

.io-names .active::after {
    content: "";

    position: absolute;

    left: 50%;
    bottom: -5%;

    width: 100%;
    height: 2px;

    background-color: var(--primary-color);

    transform: translateX(-50%) scaleX(1);
    transform-origin: center;
}

.codeeditor-footer {
    height: 60px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 14px;
    padding: 0 20px;

    border-top: 1px solid var(--editor-border);
}

.codeeditor-footer button {
    padding: 10px 24px;

    border-radius: 7px;

    font-family: 'Poppins', sans-serif;

    cursor: pointer;
}

.reset {
    background: transparent;
    border: 1px solid var(--reset-border);
    color: var(--editor-text);
}

.run {
    background: var(--run-bg);
    border: none;
    color: var(--editor-text);
}

.submit {
    background: var(--primary-color);
    border: none;
    color: var(--button-text-color);
}

.codeeditor-footer button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.run svg,
.submit svg {
    font-size: 14px;
}