
 .theme-toggle {
    width: 58px;
    height: 32px;
    padding: 3px;

    display: flex;
    align-items: center;

    border: 1px solid var(--primary-color);
    border-radius: 50px;

    background: var(--toggle-bg);

    cursor: pointer;

    transition: all 0.3s ease;
}

.toggle-circle {
    width: 26px;
    height: 26px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: var(--primary-color);
    color: var(--toggle-icon-color);

    font-size: 16px;

    transition: all 0.3s ease;
}

.theme-toggle.dark {
    background: var(--toggle-bg);
}

.theme-toggle.dark .toggle-circle {
    transform: translateX(26px);
    background: var(--primary-color);
}